@model NotNetflix.Models.Filme

@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>

<h4>Filme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*adicionar o atributo enctype="multipart/form-data"
            de modo a tornar possível o envio de ficheiros para o servidor*@
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Path" class="control-label"></label>
                @*https://en.wikipedia.org/wiki/WebM de modo a conhecer melhor WebM*@
                @*os ficheiros com extensão webm são reproduzíveis no leitor de vídeo do html5*@
                <input type="file" name="filmefile" accept=".webm" style="color:blue;" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>

            @*Título do filme*@
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            @*Descrição do filme*@
        <div class="form-group">
            <label asp-for="Descricao" class="control-label"></label>
            <textarea asp-for="Descricao" rows="6" cols="50"></textarea>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
            @*Data de lançamento*@
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            @*Duração em formato a definir *@
            <div class="form-group">
                <label asp-for="Duracao" class="control-label"></label>
                <input asp-for="Duracao" class="form-control" />
                <span asp-validation-for="Duracao" class="text-danger"></span>
            </div>
            @*rating dos críticos*@
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
           
            @foreach(var genero in ViewBag.Generos)
            {
                <input type="checkbox" name="listaGenerosEscolhidos" value="@genero.Id"/> @genero.Genre<br/><br/>

            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

