@model NotNetflix.Models.Filme

@{
    ViewData["Title"] = "Create";

}

<h1>Introduzir um filme na plataforma</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @*adicionar o atributo enctype="multipart/form-data"
            de modo a tornar possível o envio de ficheiros para o servidor*@
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Path" class="control-label"></label>
                <input asp-for="Path" class="form-control" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>

            @*Div para adicionar multiplas fotografias do filme*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label" asp-for="ListasDeFotografias">Fotografias</label>
                <input type="file" name="fotografia" accept=".jpg,.jpeg,.png" style="color:gainsboro;" multiple class="form-control" />
            </div>
            @*Título do filme*@
        <div class="form-group">
            <input asp-for="Titulo" />
           
            <label></label>
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
            @*Descrição do filme*@
            <div>
                <label></label>
                <span asp-validation-for="Descricao"></span>
                <textarea asp-for="Descricao" rows="6" cols="50"></textarea>
            </div>
            @*Data de lançamento*@
            <div class="form-group">

                <input asp-for="Data" />
                <label>Introduza por favor a duração no formato horas:minutos</label>
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            @*Duração em formato a definir *@
            <div class="form-group">
                <input asp-for="Duracao" />
                <label>Duracao</label>

                <span asp-validation-for="Duracao" class="text-danger"></span>
            </div>
            @*rating dos críticos*@
            <div class="form-group">
                <label></label>
                <input asp-for="Rating" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>

            @foreach (var genero in ViewBag.Generos)
            {
                <input type="checkbox" name="listaGenerosEscolhidos" value="@genero.Id" /> @genero.Genre<br /><br />
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
