@model NotNetflix.Models.Filme

@{
    ViewData["Title"] = "Create";

}

<h1>Introduzir um filme na plataforma</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @*adicionar o atributo enctype="multipart/form-data"
            de modo a tornar possível o envio de ficheiros para o servidor*@
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Path" class="control-label"></label><br />
                <input class="form-control" asp-for="Path" placeholder="ex. https://www.youtube.com/embebed..."/>
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>

            @*Div para adicionar multiplas fotografias do filme*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label" asp-for="ListasDeFotografias">Ficheiros das Fotografias do filme</label><br />
                <input type="file" name="fotografia" accept=".jpg,.jpeg,.png" style="color:gainsboro;" multiple class="form-control" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
            @*Título do filme*@
        <div class="form-group">
            <label asp-for="Titulo" class="control-label"></label><br />
            <input asp-for="Titulo" class="form-control" />
            
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
            @*Descrição do filme*@
            <div>
                <label asp-for="Descricao"></label><br />
                <textarea asp-for="Descricao" rows="3" cols="50" class="form-control" placeholder="Insira a descrição aqui"></textarea>
                <span asp-validation-for="Descricao"></span>
            </div>
            @*Data de lançamento*@
            <div class="form-group">
                <label class="control-label">Introduza por favor a duração no formato horas:minutos</label><br />
                <input asp-for="Data"class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            @*Duração em formato a definir *@
            <div class="form-group">
                <label>Duração (no formato horas:minutos)</label><br />
                <input asp-for="Duracao" placeholder="ex.1:20 --> 1 e 20 minutos" class="form-control"/>
                <span asp-validation-for="Duracao" class="text-danger" ></span>
            </div>
            @*rating dos críticos*@
            <div class="form-group">
                <label asp-for="Rating"></label><br />
                <input asp-for="Rating" placeholder="ex. 1-10" class="form-control"/>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>

            @foreach (var genero in ViewBag.Generos)
            {
                <input type="checkbox" name="listaGenerosEscolhidos" value="@genero.Id" /> @genero.Genre<br /><br />
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
