@model NotNetflix.Models.Filme
@{
    ViewData["Title"] = "FilmePag";
}



<div>
    <h1>@Model.Titulo</h1>
    
    <iframe  width="980" height="735" type="text/html" src="@Model.Path" frameborder="0" allowfullscreen></iframe>
    @foreach (var gen in Model.ListasDeGeneros)
    {
        <p>@gen.Genre</p>
    }
    @foreach (var photo in Model.ListasDeFotografias)
    {
        <img src="~/fotos/@photo.Path" alt="foto do filme" height="152" width="100"/>
    }
    <p>@Model.Descricao</p>
</div>