@model NotNetflix.Models.Fotografia

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Fotografia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       
        @*adicionar o atributo enctype"multiapart/form-data de modo a 
            conseguir enviar ficheiros para o servidor"*@
        <form asp-action="Create" method="post" enctype="multipart/form-data">
           
            @*erro onde os erros gerados são apresentados*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            @*Ficheiro com a fotografia*@
        <div class="form-group">

            <label asp-for="Path" class="control-label"></label>
            
            <input type="file" name="fotofilme" accept=".jpg,.jpeg,.png" style="color:blue;" />
                   @* <input asp-for="Path" class="form-control" />*@

            <span asp-validation-for="Path" class="text-danger"></span>
        </div>
            @*referência ao filme a que corresponde a fotografia*@
            <div class="form-group">
                <label asp-for="FilmeFK" class="control-label"></label>
                <select asp-for="FilmeFK" class="form-control" asp-items="ViewBag.FilmeFK"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

